<!DOCtype html>
<link rel="stylesheet" href="css/style.css">
<html>
<center>
<header>
	<h1>Thank you for confirming your order.</h1>
</header>

<body>


	
	
<div class="container">


<p><strong>The order with the last name of <%=lastname%>,</p>
<p> of a pizza with
these toppings:</p></strong>

<p><%confirmed.each do |value, key|%>
<% if key == value %>
<%=value%><img src="./img/<%=value%>.jpg">
<%end%></p>
<%end%>

</div>
 <strong>will be ready in just a few.
<p>Your deilvery option is  <%=delivery%></p>
<p><%=street%></p>
<p><%=city%></p>
	</strong>
	



</center>
</body>
</html>