<!DOCtype html>
<link rel="stylesheet" href="css/style.css">
<html>
<center>
<header>
	<h1>Thank you for confirming your order.</h1>
</header>

<body>


	
	

<p><%=lastname%>, your order of a pizza with
these toppings:</p>
<% puts "this is confirmed" %>
<% p confirmed %>
<p><%confirmed.each do |value, key|%>
<% if key == value %>
<%=value%><img src="./img/<%=value%>.jpg">
<%end%></p>
<%end%>


 will be ready in just a few.
<p>Your deilvery option is  <%=delivery%></p>
<p><%=street%></p>
<p><%=city%>
	
	



</center>
</body>
</html>