<!DOCtype html>
<link rel="stylesheet" href="css/style.css">
<html>
<center>
<header>
	<h1>Thank you for confirming your order.</h1>
</header>

<body>


	
	
<div class="container">

<p><strong>The order with the last name of <%=lastname%>,</p>
<p> with these options:</p></strong>

<p><%confirmed.each do |value, key|%>

<%=value%><img src="./img/<%=value%>.jpg">
<%end%></p>
<form method="post" action="/results">
	<p>Would you like to build another pizza?</p>
	<input type = "submit" name = "build" value = "build">
    
	
</form>

</div>
 <strong>
<p>Your deilvery option is  <%=delivery%></p>
<p><%=street%></p>
<p><%=city%></p>
	</strong>
	



</center>
</body>
</html>
