<!DOCtype HTML>

<center>
 <header>
    <h1> Here is your order for confirmation </h1>
    <h3> Pizza with these toppings:</h3>
    
 </header>

<body>


<form method = "post" action = "/selection">
<% meats.each do |mv| %>
<%=mv%>
	<input type = "radio" name = "meats_radio[<%= mv %>]" value = "meats_value" checked> Yes
    <input type = "radio" name = "meats_radio[<%= mv %>]" value = "meats_value"> No </p>
<%end%>
<% cheese.each do |cv| %>
<%=cv%>
	<input type = "radio" name = "cheese_radio[<%= cv %>]" value = "cheese_value" checked> Yes
    <input type = "radio" name = "cheese_radio[<%= cv %>]" value = "cheese_value"> No </p>
<%end%>
<% veggies.each do |vv| %>
<%=vv%>
	<input type = "radio" name = "vegg_radio[<%= vv %>]" value = "vv" checked> Yes
    <input type = "radio" name = "vegg_radio[<%= vv %>]" value = "vv"> No </p>
<%end%>

<% sauce.each do |sv|%>

	<input type = "radio" name = "sauce_radio[<%= sv %>]" value = "sv" checked> Yes
    <input type = "radio" name = "sauce_radio[<%= sv %>]" value = "sv"> No </p>
<%end%>
<input type="submit" name="confirm" value="confirm">
</form>
</center>
</body>




