<!DOCtype HTML>

<center>
 <header>
    <h1> Here is your order for confirmation </h1>
    <h3> Pizza with these toppings:</h3>
    
 </header>

<body>


<form method = "post" action = "/selection">
<% meats.each do |mv| %>
<%=mv%>
<img src="./img/<%=mv%>.jpg">
	<input type = "radio" value = "<%=mv%>" name = "confirmed[<%=mv%>]" checked> Yes
    <input type = "radio" value = "<%=mv%>" name = "confirmed[<%=mv%>]"> No </p>
<%end%>
<% cheese.each do |cv| %>
<%=cv%>
<img src="./img/<%=cv%>.jpg">
	<input type = "radio" value = "<%=cv%>" name = "confirmed[<%=cv%>]" checked> Yes
    <input type = "radio" value ="<%=cv%> " name = "confirmed[<%=cv%>]" > No </p>
<%end%>
<% veggies.each do |vv| %>
<%=vv%>
<img src="./img/<%=vv%>.jpg">
	<input type = "radio" value = "<%=vv%>" name = "confirmed[<%=vv%>]" checked> Yes
    <input type = "radio" value = "<%=vv%>" name = "confirmed[<%=vv%>]"> No </p>
<%end%>

<% sauce.each do |sv|%>
<%=sv%>
<img src="./img/<%=sv%>.jpg">
	<input type = "radio" value = "<%=sv%>" name = "confirmed[<%=sv%>]" checked> Yes
    <input type = "radio" value = "<%=sv%>" name = "confirmed[<%=sv%>]"> No </p>
<%end%>
<input type="submit" value="confirm" name="confirm">
</form>
</center>
</body>




